header {
    background: #504e4e; /* světle šedá barva */
    padding: 20px;
    position: fixed; /* zajistí, že header bude vždy na vrcholu stránky */
    width: 100%;
    top: 0;
    z-index: 1000; /* zajistí, že header bude nad ostatními prvky na stránce */
    margin-bottom: 20px;
}

        nav ul {
            list-style: none;
            display: flex;
            justify-content: right; /* zarovnání položek menu na střed */
            padding-right: 20px;
        }

        nav ul li {
            margin-right: 20px;
        }

        nav ul li a {
            text-decoration: none;
            color: white;
            font-weight: bold; /* tučné písmo */
            font-family: Arial, Helvetica, sans-serif;
        }

        body {
    padding-top: 100px; /* Upravte hodnotu podle potřeby pro požadovaný odstup */
}
svg{
    height: fit-content;
    display: block;
    width: 150px;
    float: left;
    padding-left: 50px;
    padding-right: -50px;
}

body{
    margin: 0;
}