h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.obrazky{
    display: flex;
    justify-content: center;
}

/* Základní styl pro obrázek */
.obrazek-container {
    position: relative;
    display: inline-block;
    width: calc(33.30%-20px);
    margin: 0 3%;
    background-color: whitesmoke;
  }

  .obrazek-container img{
    width: calc(33.30%-20px);
    height: 400px;
    /*width: 500px;*/
  }


  .info{
    background-color: yellow;
    padding: 10px 0;
    margin: 20px auto 20px;
    width: 50%;
    text-align: center;
  }

  .obrazek-container h2{
    text-align: center;
  }

  body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(151, 150, 150);
}
.header {
    text-align: center;
    padding: 50px;
    background-color: #f8f9fa;
}
.content-container {
    display: flex;
    justify-content: space-between; /* Rozdělení na dva díly */
    align-items: center;
    margin: 50px;
    text-align: center;
}
.content-text {
    flex: 1; /* Roztažení obsahu na zbylou šířku */
}
.content img {
    max-width: 50%; /* Maximální šířka obrázku */
    margin-right: 20px;
}

  /* Styl pro odkaz */
  .odkaz {
    text-decoration: none; /* Odstraní podtržení odkazu */
    color: inherit; /* Převezme barvu textu */
  }

  .thumbnail {
    max-width: 300px; /* Adjust as needed */
    max-height: 300px; /* Adjust as needed */
    width: auto;
    height: auto;
    margin: 10px;
}

.prvni{
  background-color: rgb(182, 175, 175);
  padding-bottom: 20px;
  }

  .druhy{
    background-color: rgb(151, 150, 150);
    padding-bottom: 20px;
    }
    .treti{
      background-color: rgb(182, 175, 175);
      padding-bottom: 20px;
      }