/* Styly pro body stránky */
body {
    margin: 0;
    padding: 0;
    background-color: #F9EDE0; /* světle béžové pozadí */
    display: flex;
    flex-direction: column; /* Uložení prvků ve sloupci */
   /* align-items: center; /* Zarovnání obsahu na střed horizontálně */
    justify-content: flex-start; /* Zarovnání obsahu na začátek vertikálně */
    height: 100vh;
    text-align: center; /* Zarovnání textu do středu */
}

/* Styly pro bublinu pro přidávání jídel */
#bublina-priprava-jidel {
    background-color: #f0f0f0; /* šedá výplň bubliny */
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* lehký stín */
    width: 80%; /* 80% šířka okna */
    margin: 20px auto; /* Odsazení na stranách - vycentrování bubliny */
}

/* Styly pro bublinu pro tabulku jídel */
#bublina-tabulka-jidel {
    background-color: #f0f0f0; /* šedá výplň bubliny */
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* lehký stín */
    max-width: 87.5%; /* Nově nastavená maximální šířka bubliny na 7/8 původní hodnoty */
    width: 100%; /* 100% šířka bubliny pro responsivitu */
    margin: 20px auto; /* Odsazení na stranách - vycentrování bubliny */
}

/* Základní styly bubliny */
.bublina {
    margin: auto;
    background-color: #f0f0f0; /* šedá výplň bubliny */
    margin-top: 2%;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.448);
    max-width: 500px; /* Maximální šířka bubliny */
    width: 100%; /* 100% šířka bubliny pro responsivitu */
    /* Odsazení na stranách - vycentrování bubliny */
    text-align: left;
}


/* Styly pro vnitřní ohraničení bublin */
.form-ohraniceni {
    border: 2px solid #ccc; /* ohraničení bubliny */
    padding: 20px; /* vnitřní odsazení */
    background-color: #f5f5f5; /* světle šedý vnitřek */
    border-radius: 15px; /* zaoblené rohy */
    margin: 5px auto; /* Odsazení bubliny */
}

/* Styly pro přidávání jídla formulář */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Přidáno pro oddělení formuláře od tabulky */
}

input[type="text"],
input[type="number"],
input[type="file"],
select {
    width: calc(100% - 40px); /* Šířka obsahu minus dvojnásobná hodnota paddingu */
    max-width: 300px; /* Pevná maximální šířka obsahu */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    border-radius: 5px;
    font-weight: bold;
    margin-right: -75%;
    background-color: #EFDD8D; /* barva tlačítka */
    color: black; /* barva textu na tlačítku */
    cursor: pointer;
    display: block; /* Přeskočit na nový řádek, aby bylo vycentrováno */
}

input[type="submit"]:hover {
    background-color: #e7c738; /* barva tlačítka po najetí myší */
}

/* Styly pro tabulku jídel */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px; /* Zvětšení mezery pod tabulkou */
    margin-left: auto; /* Zarovnání tabulky na střed */
    margin-right: auto; /* Zarovnání tabulky na střed */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f2f2f2;
}

/* Styly pro obrázek v tabulce */
table img {
    width: 100px;
    height: 100px;
}

/* Styly pro bublinu */
#navrat-bublina {
    background-color: #f0f0f0; /* Barva pozadí bubliny */
    border-radius: 10px; /* Zaoblené rohy */
    padding: 10px; /* Vnitřní odsazení */
    margin-bottom: 20px; /* Mezera mezi tlačítkem a dalším obsahem */
}

/* Styly pro tlačítko pro návrat */
.navrat-button {
    background-color: #007bff; /* Barva pozadí tlačítka */
    color: white; /* Barva textu */
    padding: 10px 20px; /* Velikost vnitřního odsazení */
    text-align: center; /* Zarovnání textu na střed */
    text-decoration: none; /* Odstranění podtržení */
    display: inline-block; /* Řádkový prvek */
    border-radius: 5px; /* Zaoblené rohy */
    transition: background-color 0.3s ease; /* Plynulá změna barvy pozadí při najetí myší */
    cursor: pointer; /* Změna kurzoru na ukazovátko */
    border: none; /* Odstranění ohraničení */
}

.navrat-button:hover {
    background-color: #0056b3; /* Změna barvy pozadí při najetí myší */
}

 /* Styly pro tlačítka */
 .button {
    color: black; /* Barva textu */
    padding: 10px 20px; /* Velikost vnitřního odsazení */
    margin-bottom: 10px; /* Mezera pod tlačítkem */
    cursor: pointer; /* Změna kurzoru na ukazovátko */
    border: none; /* Odstranění ohraničení */
    transition: background-color 0.3s ease; /* Plynulá změna barvy pozadí při najetí myší */
    width: 80%;
}
.button1 {
    color: black; /* Barva textu */
    padding: 10px 20px; /* Velikost vnitřního odsazení */
    margin-bottom: 10px; /* Mezera pod tlačítkem */
    cursor: pointer; /* Změna kurzoru na ukazovátko */
    border: none; /* Odstranění ohraničení */
    transition: background-color 0.3s ease; /* Plynulá změna barvy pozadí při najetí myší */
}

.button:hover {
    background-color: #52514f48; /* Změna barvy pozadí při najetí myší */
}
.settings {
    margin-top: -12%;
    cursor: pointer;
    color: black;
    font-size: 120%;
}
.menu {
    margin-left:5%;
    border-left: 1px solid #52514f3d;
    display: none;
    margin-top: 10px;
}
.menu1 {
    display: none;
    margin-top: 10px;
    margin-left: 5%;
}
.zarovnani{
    text-align: center;
}
.typ{
    color: #52514f92;
    font-size: 80%;
    margin-left: -25%;
    margin-top: -4%;
}

.text{
    margin-left: 10%;
    margin-top: -7.5%;
}
.text-m{
    font-size: 100%;
    margin-left: 10%;
    margin-top: -4.5%;
}
.snizeni{
    margin-top: 5%;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
  .zarovnani1{
    margin-right: 97%;
}
.modal-overlay {
    display: none; /* Skryto na začátku */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Poloprůhledné černé pozadí */
    justify-content: center;
    align-items: center;
}

/* Styl pro samotné vyskakovací okno */
.modal {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Skrytí vyskakovacího okna na začátku */
.modal.hidden {
    display: none;
}
label {
    display: block;
    margin-left: 3%;
    font-size: 90%;
}
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"] {
    width: 100%; /* Šířka obsahu minus dvojnásobná hodnota paddingu */
    max-width: 300px;
    height: 30px; /* Pevná maximální šířka obsahu */
    padding: 10px;
    background-color: #FAF9F7;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.okno {
    display: none; /* Skryté ve výchozím nastavení */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); /* Černé pozadí s průhledností */
}

/* Styl pro modální obsah */
.okno-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px; /* Max šířka modálního okna */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 10px;
}

/* Styl pro zavírací tlačítko */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}