/* CSS pro rozložení produktů */
body, html {
    height: 100vh;
    margin: 0;
    color: black;
    background-color: #f9ede0;
}

.popis{
    width: 100%;
    margin-bottom: 50px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    position: relative; 
    background-image: url('../obrazky_galerie/received_762684207419536.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    background-position: right center; 
    overflow: hidden;
    height: fit-content;
}

.popis::after{
    content: ''; 
    position: absolute; 
    width: 100%;
    height: 100%;
    background-color: #3f3e3ea9; 
    z-index: 1;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form{
    margin: 0 auto;
}

.produkty{
    width: 80%;
    display: flex;
    justify-content: center;
}

.produkt{
    background-color: #faf9f7;
    width: 40%;
    border: solid 5px black;
    margin: 2%;
}

.produkt img{
    width: 100%;
}

.obrazek-vpravo {
    order: 1; /* Změňte pořadí, aby obrázek byl vpravo */
}

.container {
    display: flex;
    justify-content: center; /* Centrování obsahu */
    height: 100vh;
    background-color: rgb(255, 255, 255); /* Obrázek jako pozadí */
    background-size: cover; /* Obrázek bude pokrývat celou plochu */
    background-position: center; /* Obrázek bude umístěn na střed */
}

.left-column, .right-column {
    width: 275px;
    height: 100%;
    background-color: rgb(54, 54, 54); /* Barva sloupců */
    opacity: 1; /* Průhlednost sloupců */
}

.content {
    flex: 3; /* Obsah bude zabírat 3x více místa než sloupce */
    text-align: center; /* Zarovnání obsahu na střed */
    padding: 20px; /* Odsazení obsahu */
    color: white; /* Barva textu */
}
.button-pridat {
    background-color: rgb(247, 221, 108); /* Zelená barva pozadí */
    color: white; /* Bílá barva textu */
    padding: 10px 20px; /* Větší polštářkování */
    font-size: 16px; /* Větší velikost písma */
    border: none; /* Odstranění ohraničení */
    border-radius: 5px; /* Zakulacené rohy */
    cursor: pointer; /* Kurzor změní na ukazatel ruky */
}

.button-pridat:hover {
    background-color: rgb(155, 140, 8); /* Změna barvy na ztmavenou zelenou při najetí myší */
}