/* CSS pro rozložení produktů */
body, html {
    height: 100vh;
    margin: 0;
    color: black;
    background-color: #f9ede0;
    
}

.text p {
    color: white;
}
.text{
    position: relative; /* Text bude nad pseudo-elementem */
    z-index: 2;
    height: 100%;
    margin-top: 50px;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #faf9f7;
    opacity: 100%;
}
.prod {
    display: flex;
    flex-grow: 1; /* Roztáhne se na celou dostupnou výšku */
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-bottom: 60px;
}
.bublina{
    width: 100%;
    left: 0;
    right: 0;
    align-self: top;
    margin-bottom: 50px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Zahrne border do celkové šířky */
    display: flex;
    flex-direction: column; /* Sloupcové uspořádání */
    align-items: center; /* Zarovnání obsahu na střed */
    
    position: relative; /* Přizpůsobíme pozici relativní, aby bylo možné umístit barvu pozadí nad obrázek */
    background-image: url('../obrazky_galerie/received_762684207419536.jpg');
    
    background-size: 100% 100%;
    background-repeat: no-repeat; /* Zabraňuje opakování pozadí */
    background-position: right center; /* Zarovná obrázek vpravo nahoře */
    overflow: hidden;
    height: 40%;
}
.bublina::after {
    content: ''; /* Přidáme pseudo-element ::after pro vytvoření další vrstvy */
    position: absolute; /* Přizpůsobíme pozici absolutní */
    width: 100%;
    height: 100%;
    background-color: #2f2e2ea9; /* Barva pozadí s průhledností 50% (červená pro příklad) */
    z-index: 1; /* Pseudo-element bude nad ostatním obsahem */

}

form{
    margin: 0 auto;
}

.produkty{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 0 5%;
}

.produkt img{
    height: 50%;
    width: 100%;
    mask-image: linear-gradient(to bottom, #faf9f7 0%, transparent 100%);
}

.textProd{
    text-align: center;
    padding: 7%;
}

.cen{
    bottom: 0.5%;
}

.produkt{
    background-color: #faf9f7;
    width: 25%;
    margin: 2%;
    height: 60vh;
}

button{
    background-color: #efdd8d;
    border: solid 1px ;
    padding: 2%;
    width: 40%;
    border: solid 1px #efdd8d;
    border-radius: 5%;
    font-size: 16px;
}

.filt{
    background-color: white;
    padding: 0;
}
